body {
  font-family: "Roboto";
  color: #434455;
  background:#ffffff;
  text-transform: none;
  font-style: normal;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.portfolio-box {
    justify-content: center;
}
/* section header */
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
/*======== Header========= */
.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-box {
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}

.address {
  display: flex;
  gap: 40px;
}
.logo-header {
  color: #4d5ae5;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-span {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.02em;
}
.page-header {
  background-color: #ffffff;
}

.link-nav {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}
.adress-header {
  font-style: normal;
}
.link-address {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-address:hover,
.link-address:focus {
  color: #404bbf;
}
.hero-section {
  background: url(./images/photoshoptet.png);
  height: 600px;
  padding: 188px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
.hero-section {
  background-image:
    url(./images/phone.jpg);
}
}
@media screen and (max-width: 768px) {
.hero-section {
  background-image: 
  url();
}
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: auto;
  padding-right: auto;
}
.main-section {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-bottom: 48px;
}
.main-button {
  background:#4d5ae5;
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  align-items: center;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.main-button:hover {
  background: var(--OCEAN, #404bbf);
}
.main-button:focus {
  background: var(--OCEAN, #404bbf);
}

/* =======our-team========== */
.hero-team {
  background:#f4f4fd;
  height: 732px;
  padding: 120px 0;
  display: flex;
}
.our-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-hero {
  justify-content: center;
  display: flex;
  gap: 24px;
}
.photo-team {
  background: #fff;
  width: calc((100%-3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-info {
  padding: 32px 0;
}
.photo-members {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}
.about-members {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}
.hero-team > .hero-box > img {
    width: 100%;
    height: 80%;
}
.about-dog {
    width: 260px;
    height: 260px;
    overflow: hidden;
}
.dog-section-about {
    padding: 80px 0; 
}
.adapt-pic {
    display: flex;
    justify-content: center;
}
.pic-dog {
    width: 250px;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;  
}
.list-dog {
    display: flex;
    color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: calc((100%-3 * 24px) / 4);  
 align-items: center;
  border-radius: 50%;
}
.paragraph {
    width: 200px;
   }
.main-title-dog {
    color:darkblue;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin: 0 0 48px;
}  
.dog-adapt-section {
    display: flex;
    gap: 24px;
    justify-content:space-around;
    margin: 40px 0;
}
.adapt-about {
    width: 260px;
    height: 100%;
    align-items: center;
}
.paragraph-adapt {
    height: 100%;
    width: 360px;
    font-size: 20px;
}
.toffe-story{
  color:darkblue;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin: 0 0 48px;
    width: 100%;
    height: 100%;
    }
.teta-dog-pic {
   width: 650px;
}
.section-footer {
  background: darkblue;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
}
.footer-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  
}
.footer-content {
  margin-right: 120px;
}
.icons-media {
  margin-right: 80 px;
}
.social-icons {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.list-social-media {
  display: flex;
  gap: 16px;
}
.social-foot-icons {
  width: 40px;
  height: 40px;
  
}
.foot-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-icons:hover,
.foot-icons:focus {
  background-color: #31d0aa;
}
.our-media-icon {
  fill: #f4f4fd;
}
.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  align-items: baseline;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.logo-selector {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.info-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}
.build-teta {
  display: flex;
  justify-content: right;
  margin-top: 40px;
}
.build-by {
  color:#f4f4fd;
}
